<!DOCTYPE html>

<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/menu-conta.css">
  <link rel="stylesheet" href="/stylesheets/conta.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
    rel="stylesheet"
  />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <script defer src="/javascripts/scriptValidationConta.js"></script>
  <script defer type="text/javascript" src="/javascripts/jquery-1.2.6.pack.js"></script>
  <script defer type="text/javascript" src="/javascripts/jquery.maskedinput-1.1.4.pack.js"></script>
  <script defer type="text/javascript">
    $(document).ready(function(){
      $("#cpf").mask("999.999.999-99");
    });
  </script>
  <title>Conta - Geral</title>
</head>

<body class="body">
  <%- include("./partials/header") %> 
  
  <main class="main">
    <%- include("./partials/menu-conta") %>

    <div class="main__config">
      <section class="config">
        <article class="config__article config__article--com-borda">
          <h1 class="config__titulo">Configurações Gerais</h1>
          <p class="config__texto">Gerencie os detalhes da conta que você compartilha conosco.</p>
        </article>
        
        <form id="form__conta" class="form__conta" method="POST" action="/conta/<%= usuario.id %>?_method=PUT">
          <article class="config__article">
            <h2 class="config__titulo">Informações da Conta</h2>
            <p class="config__texto">ID: <%= usuario.id %> </p>

            <div class="config__nome-e-email">
              <div class="config__caixa-info" action="">
                <div class="config__informacao">
                  <label class="config__texto config__texto--menor" for="nomeUsuario">Nome de usuário:</label>
                  <input class="config__input" type="text" name="nomeUsuario" id="nomeUsuario" value="<%= usuario.nomeUsuario %> ">
                  <span class="error-message"></span>
                </div>
        
                <button class="config__caixa-info__botao" type="reset">
                  <img src="./images/pencil.png" alt="Lápis">
                </button>
              </div>
        
              <div class="config__caixa-info" action="">
                <div class="config__informacao">
                  <label class="config__texto config__texto--menor" for="email">Endereço de e-mail:</label>
                  <input class="config__input" type="email" name="email" id="email" value="<%= usuario.email %> ">
                  <span class="error-message"></span>
                </div>
          
                <button class="config__caixa-info__botao" type="reset">
                  <img src="./images/pencil.png" alt="Lápis">
                </button>
              </div>
            </div>
          </article>
        
          <article class="config__article">
            <h2 class="config__titulo">Detalhes pessoais</h2>
            <p class="config__texto">Gerencie seu nome e informações pessoais. Essas informações pessoas são privadas e não serão exibidas para outros usuários.</p>
            
            <div class="config__nome-e-idioma">
              <div class="config__nome-e-idioma__div">
                
                <div class="config__caixa-info">
                  <div class="config__informacao">
                    <label class="config__texto config__texto--menor" for="nome">Nome:</label>
                    <input class="config__input" type="text" name="nome" id="nome" value="<%= usuario.nome %> ">
                    <span class="error-message"></span>
                  </div>
                </div>
                
                <div class="config__caixa-info">
                  <div class="config__informacao">
                    <label class="config__texto config__texto--menor" for="sobrenome">Sobrenome:</label>
                    <input class="config__input" type="text" name="sobrenome" id="sobrenome" value="<%= usuario.sobrenome %>">
                    <span class="error-message"></span>
                  </div>
                </div>
              </div>

              <div class="config__nome-e-idioma__div">
                <div class="config__caixa-info">
                  <div class="config__informacao">
                    <label class="config__texto config__texto--menor" for="cpf">CPF:</label>
                    <input class="config__input" type="text" name="cpf" id="cpf" value="<%= usuario.cpf %> ">
                    <span class="error-message"></span>
                  </div>
                </div>
  
                <div class="config__caixa-info">
                  <div class="config__informacao config__informacao--reduzida">
                    <label class="config__texto config__texto--menor" for="dataNascimento">Data de Nascimento:</label>
                    <input class="config__input" type="date" name="dataNascimento" id="dataNascimento" value="<%= usuario.dataNascimento %>">
                    <span class="error-message"></span>
                  </div>
                </div>
              </div>

              <div class="config__nome-e-idioma__div">
                <div class="config__caixa-info">
                  <div class="config__informacao config__informacao--reduzida">
                    <label class="config__texto config__texto--menor" for="sexo">Sexo:</label>
                    <select class="config__input config__input--select" name="sexo" id="sexo">
                      <% if ( usuario.sexo === "feminino" ) { %>
                        <option value="" disabled>Insira seu sexo</option>
                        <option value="feminino" selected="selected">Feminino</option>
                        <option value="masculino">Masculino</option>
                        <option value="outros">Outros</option>
                      <% } else if ( usuario.sexo === "masculino" ){ %>
                        <option value="" disabled>Insira seu sexo</option>
                        <option value="feminino">Feminino</option>
                        <option value="masculino" selected="selected">Masculino</option>
                        <option value="outros">Outros</option>
                      <% } else if ( usuario.sexo === "outros" ){ %>
                        <option value="" disabled>Insira seu sexo</option>
                        <option value="feminino">Feminino</option>
                        <option value="masculino">Masculino</option>
                        <option value="outros" selected="selected">Outros</option>
                      <% } else { %>
                        <option value="" disabled selected="selected">Insira seu sexo</option>
                        <option value="feminino">Feminino</option>
                        <option value="masculino">Masculino</option>
                        <option value="outros" >Outros</option> 
                      <% } %>                  
                    </select>
                  </div>
                </div>
  
                <div class="config__caixa-info config__caixa-info--oculta"></div>
              </div>     
            </div>     
          </article>
    
          <div class="config__div-botoes">
            <button class="config__botao config__botao--margin bg-gradient-to-r from-pink-500 to-red-500 sm:transform hover:scale-105 transition duration-500 text-white" type="submit">Salvar mudanças</button>
            <button class="config__botao bg-gradient-to-r from-pink-500 to-red-500 sm:transform hover:scale-105 transition duration-500 text-white" type="reset">Descartar mudanças</button>
          </div>
        </form>
      </section>
  
      <section class="config config--excluir">
        <h2 class="config__titulo config__titulo--excluir">Excluir Conta</h2>
        <p class="config__texto">Clique em <strong class="config__strong">solicitar exlusão de conta</strong> para iniciar o processo de exclusão permanente da sua conta.</p>
        <form method="POST" action="/conta/<%= usuario.id %>?_method=DELETE">
          <button class="config__botao config__botao--excluir bg-gradient-to-r from-green-500 to-blue-600 sm:transform hover:scale-105 transition duration-500 text-white" type="submit">Solicitar exclusão de conta</button>
        </form>
      </section>
    </div>
  </main>

  <%- include("./partials/footer") %>   
  
</body>
</html>